<!DOCTYPE html>
<html>
<style>
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background-color : #e12341;
	min-height: 100vh;
	font-family: "Raleway", sans-serif;
}

.container {
	width: 382px;
	height : 75%;
	overflow: hidden;
	margin : auto;
	margin-top : 100px;
	padding: 80px;
	background-color : #ffffff;
	opacity : 0.60;
    border-radius: 15px ;
}
</style>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
    <h2>Movies that you may like :</h2>
	{% for mov in data %} 
        <h5><b>{{mov}}</b></h5>
	{% endfor %}
</div>
</body>
</html>
